<div class="auth-container">
  <h2>Recuperar contraseña</h2>

 
  <form *ngIf="paso === 1" (ngSubmit)="enviarCorreo()">
    <label>
      Correo
      <input
        type="email"
        [(ngModel)]="correo"
        name="correo"
        required
      />
    </label>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Enviando...' : 'Enviar código' }}
    </button>

    <p *ngIf="error" class="error">{{ error }}</p>
    <p *ngIf="mensaje" class="ok">{{ mensaje }}</p>
  </form>

  
  <form *ngIf="paso === 2" (ngSubmit)="cambiarContrasena()">
    <label>
      Código de recuperación
      <input
        type="text"
        [(ngModel)]="codigo"
        name="codigo"
        required
      />
    </label>

    <label>
      Nueva contraseña
      <input
        type="password"
        [(ngModel)]="nuevaContrasena"
        name="nuevaContrasena"
        required
      />
    </label>

    <label>
      Confirmar contraseña
      <input
        type="password"
        [(ngModel)]="confirmarContrasena"
        name="confirmarContrasena"
        required
      />
    </label>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Actualizando...' : 'Cambiar contraseña' }}
    </button>

    <p *ngIf="error" class="error">{{ error }}</p>
    <p *ngIf="mensaje" class="ok">{{ mensaje }}</p>
  </form>
</div>
